<!--Countdown actions modal-->
<div id="countdown-modal">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div id="closebt-container" class="close-countdown-modal"> 
    <img class="closebt" src="/images/closebt.svg">
  </div>
            
  <div class="countdown-modal-content">
    <!--Your modal content goes here-->
  </div>
</div>
