.user-profile {
  .stats-title {
	  color: #fff;
  }

  .edit-image {
	  font-size: 20px;
	  position: absolute;
	  left: calc(50% - 10px);
	  top: calc(50% - 38px);
	  cursor: pointer;
	  color: #fff;
	  display: none;
  }

  .filter-on-hover {

  }
/*
.filter-on-hover:hover {
	background-color: rgba(0,0,0,.5) !important;
	
	transition: all .3s ease;
	text-decoration: none;
}
*/
  .camera-toggle:hover {
	  form label img {
	  	background-color: rgba(0,0,0,.5) !important;
	  	transition: all .3s ease;
	  	text-decoration: none;
	  }
	  .edit-image {
	  	display: block;
	  }
  }

  input[type=file] {
	  display: none;
  }
}
